$assets-url: 'https://raw.githubusercontent.com/kdhttps/generator/master/assets';

.view-banner {
    background: url($assets-url + "/photo.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
  .mr-0rem {
    margin-right: 0rem;
  }
  