<div class="view view-blog-banner">
  <div class="">
    <div class="mask rgba-blue-grey-slight flex-center">
      <div class="container">
        <div class="text-white text-center wow fadeInUp">
          <h3 class="h3-responsive font-weight-bold-500 mt-px-30">
            If you
            <span class="yellow-text">
              #think
              <mdb-icon fas icon="lightbulb" size="1x" aria-hidden="true"></mdb-icon>
            </span>
            then you can make a new
            <span class="cyan-text">
              #things
              <mdb-icon fab icon="stack-overflow" size="1x" aria-hidden="true"></mdb-icon>
            </span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="container-fluid mt-px-30">

  <div *ngFor="let blog of blogs; let i = index">
    <div class="row">
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" [src]="blog.seoMeta.image" [alt]="blog.seoMeta.title">
          <a routerLink="/blog/{{blog.lowerTitle}}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <div class="col-lg-7">

        <!-- Category -->
        <a href="#!" class="green-text">
          <h6 class="font-weight-bold-500 mb-3">
            <mdb-icon fab icon="stack-overflow"></mdb-icon> {{blog.seoMeta.keywords}}
          </h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold-500 mb-3"><strong>{{blog.title}}</strong></h3>
        <!-- Excerpt -->
        <p><strong>{{blog.seoMeta.description}}</strong></p>
        <!-- Post data -->
        <p>by <a href="https://twitter.com/kdhttps" target="_blank"
            rel="noopener noreferrer"><strong>@KDHTTPS</strong></a></p>
        <p class="font-weight-bold-500">{{blog.updatedAt | date:'mediumDate'}}</p>
        <!-- Read more button -->
        <a routerLink="/blog/{{blog.lowerTitle}}" mdbBtn color="success" mdbWavesEffect>Read more</a>

      </div>
    </div>
    <hr class="my-5">
  </div>
</section>
