$assets-url: 'https://raw.githubusercontent.com/kdhttps/generator/master/assets';

.view-blog-banner {
  background: url($assets-url + "/blogs-banner.png")no-repeat center center;
  background-size: cover;
  height: 50vh;
}
.mt-px-30 {
  margin-top: 30px;
}
.mt-px-100 {
  margin-top: 100px;
}
.font-weight-bold-500 {
  font-weight: 500;
}
.font-weight-bold-300 {
  font-weight: 300;
}
