<!-- Profile and Banner -->
<div class="view view-banner">
  <div class="full-bg-img">
    <div class="mask rgba-stylish-strong flex-center">
      <div class="container text-center white-text">
        <div class="white-text text-center wow fadeInUp">
          <img src="{{assetsURL}}/profile2.jpg" class="rounded-circle z-depth-1-half"
            style="display: initial;height: 20%; width: 20%; border: 2px solid black;">

          <h1 class="h1-responsive">Kiran D. Mali <mdb-icon fas icon="bolt" size="1x" class="amber-text"
              aria-hidden="true"></mdb-icon>
          </h1>
          <h3 class="h3-responsive">Full Stack Software Developer <mdb-icon fas icon="laptop" size="1x"
              class="blue-text" aria-hidden="true">
            </mdb-icon> - OpenID Connect OAuth 2.0 <mdb-icon fas icon="shield-alt" size="1x" class="amber-text"
              aria-hidden="true"></mdb-icon>
          </h3>
          <br>
          <h4 class="h4-responsive">Love programming <mdb-icon fas icon="heart" size="1x" class="red-text"
              aria-hidden="true"></mdb-icon> ,
            Like to play with new ideas <mdb-icon fas icon="lightbulb" size="1x" class="amber-text" aria-hidden="true">
            </mdb-icon> , to do new things <mdb-icon fas icon="play-circle" size="1x" class="green-text"
              aria-hidden="true"></mdb-icon>, explaining things in a very easy
            way <mdb-icon fas icon="balance-scale" size="1x" class="amber-text" aria-hidden="true"></mdb-icon> ,
            simplify the work <mdb-icon fas icon="cogs" size="1x" class="red-text" aria-hidden="true"></mdb-icon> and
            love to help people <mdb-icon fas icon="users" size="1x" class="purple-text" aria-hidden="true">
            </mdb-icon>.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.Profile and Banner -->

<main class="py-5">
  <div class="container-fluid">
    <div class="row">
      <!-- experience -->
      <div class="col-md-12">
        <h1>
          <mdb-icon fas icon="address-card" size="1x" class="red-text" aria-hidden="true"></mdb-icon>
          Experience
        </h1>
        <!-- Stepers Wrapper -->
        <ul class="stepper stepper-vertical mr-0rem">
          <!-- First Step -->
          <li class="completed" *ngFor="let ex of experience; let i = index">
            <a href="#!" class="pb-0">
              <span class="circle">{{i+1}}</span>
              <h4 class="label">{{ex.title}}</h4>
            </a>
            <div class="step-content lighten-3">
              <h6 class="label grey-text">
                <mdb-icon fas icon="calendar-alt" size="1x" class="red-text" aria-hidden="true">
                </mdb-icon> {{ex.startDate}}-{{ex.endDate}}
              </h6>

              <h5>{{ex.descTitle}}</h5>

              <a href="#" *ngFor="let de of ex.descs"
                class="list-group-item list-group-item-action flex-column align-items-start text-left">
                <p class="mb-1">
                  <mdb-icon fas icon="circle" class="blue-text" aria-hidden="true"></mdb-icon> {{de}}
                </p>
              </a>
            </div>
          </li>
        </ul>
        <!-- /.Stepers Wrapper -->
      </div>

      <!-- skills -->
      <div class="col-md-12">
        <h1>
          <mdb-icon fab icon="stack-overflow" size="1x" class="red-text" aria-hidden="true"></mdb-icon>
          Skills
        </h1>
        <div class="row">

          <div *ngFor="let skill of skills; let i = index" class="col-md-4 mt-3">
            <!--Card-->
            <mdb-card cascade="true">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="{{assetsURL}}/{{skill.image}}"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->

              <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h4 class="card-title">
                  <strong>{{skill.title}}</strong>
                </h4>
                <mdb-card-text>
                  {{skill.description}}
                </mdb-card-text>
              </mdb-card-body>
              <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
          </div>

        </div>
      </div>

      <!-- education -->
      <div class="col-md-12 mt-5">
        <h1>
          <mdb-icon fas icon="address-card" size="1x" class="red-text" aria-hidden="true"></mdb-icon>
          Education
        </h1>
        <!-- Stepers Wrapper -->
        <ul class="stepper stepper-vertical mr-0rem">
          <!-- First Step -->
          <li class="completed" *ngFor="let edu of education; let i = index">
            <a href="#!" class="pb-0">
              <span class="circle">{{i+1}}</span>
              <h4 class="label">{{edu.title}}</h4>
            </a>
            <div class="step-content lighten-3">
              <h5>
                <mdb-icon fas icon="university" size="1x" class="green-text" aria-hidden="true">
                </mdb-icon>
                {{edu.college}}
              </h5>
              <h6 class="label grey-text">
                <mdb-icon fas icon="calendar-alt" size="1x" class="red-text" aria-hidden="true"></mdb-icon>
                {{edu.startDate}}-{{edu.endDate}}
              </h6>
              <h6>
                {{edu.description}}
              </h6>
            </div>
          </li>
        </ul>
        <!-- /.Stepers Wrapper -->
      </div>
    </div>
  </div>
</main>
